.project {
  margin-top: 30px;
}

.project-links {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #1e40af;
}
